body{
    background: linear-gradient(135deg, #0F4C5C, #0f9bbe)
}

form{
    background-color: rgba(150 150 150 / 50%);
    border: 2px solid grey;
    margin: 10px auto;
    width: 320px;
    padding: 60px 0 30px 0;
    border-radius: 40px;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

input,textarea{
    border: 0;
    outline: none;
}
.campo{
    border: 1px solid #fff;
    padding: 7px;
    height: 50%;
    width: auto;
}
.campo:focus{
    border-color: #c50f0f;
}
.boton{
    background-color: rgb(66, 66, 66);
    font-size: 16px;
    padding: 12px 24px;
    border-radius: 5px;
    transition: width 3s, height 3s, ease-in-out 1s;
}
.boton:hover{
    background-color: rgb(114, 114, 114);
    width: 100px;
    height: 50px;
}
.center-content{
    text-align: center;
    line-height: 80px;
}