body{
    margin: 0;
    background: url(/img/header2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
}
header{
    position: relative;
}
nav{
    padding: 20px 0;
    height: 60px;
    width: 100%;
    position: absolute;
}
main{
    display: flex;
    top: 20%;
    justify-content: center;
    margin: 10% 0;
}
#general{
    border-radius: 25px;
    background: rgb(195 195 195 / 80%);
    padding: 35px 25px;
    display: flex;
    flex-direction: column;
    /* width: 100%; */
}
.ul{
    display: flex;
    position: fixed;
    right: 0;
}
.li{
    display: flex;
    align-items: center;
    font-size: 1.125rem;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0 40px;
    font-weight: 300;
    letter-spacing: 3px;
}
a,a:link,a:hover,a:active{
    text-decoration: none;
    color:#fff;
}
h1,h2,h3,h4,h5,h6{
    margin: 20px auto;
}
legend{
    font: 1.5rem sans-serif;
}
fieldset{
    margin: 10px 0 10px 0;
}

/* Media Queries */

@media screen and (max-width: 640px) {
    main{
        margin: 20% 0;
    }
}